<h1>ORDERZ</h1>


<ul>
<% @products.each do |product| %>
<li>
<%= product.prodName %> <br>
<%= product.prodDesc %> <br>
<%= product.unitPrice %>
</li>
<%= link_to "Edit Order", orders_path %>
<% end %>
</ul>
